<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhulei.com.stone">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:label"
        android:name=".others.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".ui.activity.prepare.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.prepare.GuideActivity" />

    </application>

</manifest>