<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhulei.com.stone">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:label"
        android:name=".others.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".ui.activity.prepare.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.MainActivity"/>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/login"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity
            android:name=".ui.activity.ProfileActivity"
            android:label="@string/profile"
            android:theme="@style/AppTheme.NoActionBar.Main"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity
            android:name=".ui.activity.PostActivity"
            android:label="@string/post"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity
            android:configChanges="orientation|screenSize"
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity" />

        <activity
            android:name=".ui.activity.ImageActivity"
            android:theme="@style/AppTheme.NoActionBar.Translucent"
            android:label="@string/image"
            android:process=":picture"/>

        <activity
            android:name=".ui.activity.CircleActivity"
            android:label="@string/circle"/>

        <activity
            android:name=".ui.activity.PaintActivity"
            android:label="@string/paint"/>

        <activity
            android:name=".ui.activity.BirthDaySettingActivity"
            android:label="@string/birthday_setting"/>

        <activity
            android:name=".ui.activity.CommentActivity"
            android:label="@string/comment_list"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".ui.activity.PersonalPostActivity"
            android:label="@string/personal_post"/>

        <activity android:name=".ui.activity.TestRetrofitActivity"
            android:label="测试"/>
        <activity android:name=".ui.activity.prepare.GuideActivity" />

    </application>

</manifest>